<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tap4fun.chatdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.tap4fun.chatdemo.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--登录界面-->
        <activity android:name=".LoginActivity"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面-->
        <activity android:name=".MainActivity"
            android:label="tap4fun"></activity>

        <!--注册界面-->
        <activity android:name=".RegisterActivity"
            android:theme="@style/Translucent"/>

        <!--私聊界面-->
        <activity android:name=".P2PChatActivity"
            android:label="tap4fun">
            <intent-filter>
                <action android:name="ACTION_P2P_CHAT"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <!--群聊界面-->
        <activity android:name=".MucChatActivity"
            android:label="tap4fun">
            <intent-filter>
                <action android:name="ACTION_MUC_CHAT"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <!--邀请好友界面-->
        <activity android:name=".InviteFriendActivity">
            <intent-filter>
                <action android:name="ACTION_INVITE_FRIEND"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

    </application>

</manifest>